package model

{{$ilen := len .Imports}}
{{- if gt $ilen 0 }}
import (
{{- range .Imports }}
    "{{ . }}"
{{- end }}
)
{{- end }}

{{- range .Tables }}
type {{ TableMapper .Name }} struct {
{{- $table := . }}
{{- range $table.Table.ColumnsSeq }}
    {{- $col := $table.Table.GetColumn . }}
    {{ ColumnMapper $col.Name }} {{ Type $col }} `{{ Tag $table.Table $col }}`
{{- end }}
}

func (m *{{ TableMapper .Name }}) TableName() string {
    return "{{ $table.Table.Name }}"
}

func (m *{{ TableMapper .Name }}) DatabaseAlias() string {
    return "{{ $table.DataBase }}"
}

{{- end }}
